
.contenedor-1{
    width: 100%;
    height: 100%;
    
    background-position:center;
    background-size: 150%;
}

.cabecera{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 160px;
    display: flex;
    overflow: hidden;
}

.logo{
    width: 20%;
    background-color: #fff;
    padding-left: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: auto;
}

.navegacion{
    width: 80%;
    background-color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 100px;
}

.link{
    color: #097FF5 ;
    padding: 70px 30px;
    text-decoration: none;
    font-size: 24px;

}
.link:hover{
    color: #8709f5 ;
    padding: 70px 30px;
    text-decoration: none;
    font-size: 24px;
}

.contenedor-2{
    margin: 100px;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    display: flex;
}

.imagenizquierda{
    margin: 0;
    padding: 0;

}

.FormularioEmpleado{
    width: 50%;
    background-color: white;
    margin: 100;
    padding: 100px;
    justify-content: center;
    background-color: #ebebeb;
    border-radius: 10px;
    
}
.FormularioEmpleado h1{
    text-align: center;
    padding: 150px 20px 20px 0;
    border-bottom: 1px solid #097FF5;
    color: #8709f5;
    font-size: 40px;
}

.FormularioEmpleado form {
    margin: 100px;
    padding: 0 40px;
    box-sizing: border-box ;

}

form .Username {
    position: relative;
    border-bottom: 2px solid #b0afaf;
    margin: 30px 0;
}
.Username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.Username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:#9b55d7;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.Username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #097FF5;
    transition: .5s;    
}
.Username input:focus ~ label,
.Username input.focus ~ label{
    top: 6px;px;
    color: #097FF5;
}

.Username input:focus ~ span::before,
.Username input.focus ~ span::before{
    width: 100%;
}
form .contraseña {
    position: relative;
    border-bottom: 2px solid #b0afaf;
    margin: 30px 0;
}
.contraseña input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.contraseña label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:#9b55d7;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.contraseña span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #097FF5;
    transition: .5s;    
}
.contraseña input:focus ~ label,
.contraseñae input.focus ~ label{
    top: 6px;px;
    color: #097FF5;
}

.contraseña input:focus ~ span::before,
.contraseña input.focus ~ span::before{
    width: 100%;
}
.Recordar{
    margin: -5px 0 20px 5px;
    color: #097FF5;
    cursor: pointer;
}
.Recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #8709f5;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #0716c0;
    transition: .5s;
    background-color: #0716c0;

}

.Registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;

}
.Registrarse a{
    color: blue;
    text-decoration: none;
}

.Registrarse a:hover{
    text-decoration: underline;
}





.FormularioRegistro{
    width: 50%;
    background-color: white;
    margin: 100;
    padding: 100px;
    justify-content: center;
    background-color: #ebebeb;
    border-radius: 10px;
    
}
.FormularioRegistro h1{
    text-align: center;
    padding: 100px 20px 20px 0;
    border-bottom: 1px solid #097FF5;
    color: #8709f5;
    font-size: 40px;
}

.FormularioRegistro form {
    margin: 100px;
    padding: 0 40px;
    box-sizing: border-box ;

}

form .Nombre {
    position: relative;
    border-bottom: 2px solid #b0afaf;
    margin: 30px 0;
}
.Nombre input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.Nombre label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:#9b55d7;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.Nombre span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #097FF5;
    transition: .5s;    
}
.Nombre input:focus ~ label,
.Nombre input.focus ~ label{
    top: 6px;px;
    color: #097FF5;
}

.Nombre input:focus ~ span::before,
.Nombre input.focus ~ span::before{
    width: 100%;
}
form .Apellidos {
    position: relative;
    border-bottom: 2px solid #b0afaf;
    margin: 30px 0;
}
.Apellidos input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.Apellidos label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:#9b55d7;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.Apellidos span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #097FF5;
    transition: .5s;    
}
.Apellidos input:focus ~ label,
.Apellidos input.focus ~ label{
    top: 6px;px;
    color: #097FF5;
}

.Apellidos input:focus ~ span::before,
.Apellidos input.focus ~ span::before{
    width: 100%;
}

form .Telefono {
    position: relative;
    border-bottom: 2px solid #b0afaf;
    margin: 30px 0;
}
.Telefono input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.Telefono label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:#9b55d7;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.Telefono span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #097FF5;
    transition: .5s;    
}
.Telefono input:focus ~ label,
.Telefono input.focus ~ label{
    top: 6px;px;
    color: #097FF5;
}

.Telefono input:focus ~ span::before,
.Telefono input.focus ~ span::before{
    width: 100%;
}

form .Email {
    position: relative;
    border-bottom: 2px solid #b0afaf;
    margin: 30px 0;
}
.Email input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.Email label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:#9b55d7;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.Email span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: #097FF5;
    transition: .5s;    
}
.Email input:focus ~ label,
.Email input.focus ~ label{
    top: 6px;px;
    color: #097FF5;
}

.Email input:focus ~ span::before,
.Email input.focus ~ span::before{
    width: 100%;
}


.Recordar{
    margin: 50px;
    color: #097FF5;
    cursor: pointer;
    left: 0;
}
.Recordar:hover{
    text-decoration: underline;
}

.BotonIngreso a{

    margin: 30px 0;
    width: 50%;
    padding: 20px 100px ;
    text-align: center;
    border: 1px solid;
    background-color: #8709f5;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    text-align: center;
}
.BotonIngreso a:hover{
    margin: 60px 0;
    padding: 20px 100px ;
    border-color: #0716c0;
    color: white;
    transition: .5s;
    background-color: #0716c0;
    text-align: center;

}

.Registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;

}
.Registrarse a{
    color: blue;
    text-decoration: none;
}

.Registrarse a:hover{
    text-decoration: underline;
}











.contenedorcard{
    margin: 100px;
    padding: 0;
    background-color: white;
    display: flex;
 }

.conte{
    height: 510px;
    width: 350px;
    box-shadow:0 0 7px #111 ;
    margin: 30px 30px;
}

.conte .card{
    height: 200px;
    width: 100%;
    margin-bottom: 170px;
}


.card img{
    margin: auto;
    display: block;
}

.conte .pc1 img{
    height: 300px;
    width: 330px;
 }

 .conte .pc1{
    background-color: white;
 }

 
 .informacion{
    height: 80px;
    width: 100%;    
 }

 .informacion h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #8709f5;
    margin-bottom: -10px;
 }

 .informacion p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .9em;
    color: #111;
 }

 .precio{
    height: 50px;
    width: 85%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
 }

 .box-precio{
    width: 80px;
 }

 .precio1{
    color: red;
    font-size: .8em;
 }

 .precio2{
    font-size: 1.5em;
    
 }
